<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ReachOutMe{% endblock %}</title>
    <!-- Common CSS and JS links go here -->
</head>
<body>
    <header>
        <!-- Common header content like navigation bar goes here -->
    </header>

    <main>
        {% block content %}
        <!-- Child templates will inject their specific content here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 by Srikanth Vooradi</p>
    </footer>
</body>
</html>
