<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ form.instance.pk|yesno:"Edit Contact,Create New Contact" }}</title>
</head>
<body>
    <h2>{{ form.instance.pk|yesno:"Edit Contact,Create New Contact" }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ form.instance.pk|yesno:'Save Changes,Create Contact' }}">
        <a href="{% url 'ReachOutMe:contact_list' %}">Cancel</a>
    </form>

    <footer>
        <p>&copy; 2023 by Srikanth Vooradi</p>
    </footer>
</body>
</html>
