{% extends 'base.html' %}

{% block title %}Contact List{% endblock %}

{% block content %}
<h2>Contact List</h2>
<a href="{% url 'contact_create' %}">Add New Contact</a>
<ul>
    {% for contact in contacts %}
<li>
        {{ contact.name }} - {{ contact.email }}
        <a href="{% url 'contact_detail' contact.id %}">View</a>
        <a href="{% url 'contact_edit' contact.id %}">Edit</a>
        <a href="{% url 'contact_delete' contact.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
